.about__wrapper{    
    /* background-color: rgba(72, 237, 128, 0.74); */
    
    width: 510px;
    padding: 15px;
    border-radius: 5px;
    margin-left: 361px;
    margin-top: 40px;
    margin-bottom: 40px;
    background: linear-gradient(
45deg
, #e91e63, #ed7844);
}


.about__wrapper_right{    
    /* background-color: rgba(72, 237, 128, 0.74); */
    /*background: #39434C;*/
    background: linear-gradient(
45deg
, #e91e63, #ed7844);
    width: 475px;
    padding: 15px;
    border-radius: 5px;
    margin-left: 352px;
    margin-left: 761px;
    margin-top: 10px;
}

.about__author{
    margin-left: 723px;        
}


.about__intro{
    font-family: SVN-Futura-Regular;  
    font-size: 16px;
    line-height: auto;  
    color: #fdfdfe;
    word-wrap: break-word;  
    padding: 10px;    
}


.credit__title{
   padding: 19px;
   word-break: break-all;
   line-height: 40px;
}

.credit__title > h4 {
    color: #fff;
    font-family: 'SVN-Futura-Regular';
}