@import url("circle.css");

@import url("https://fonts.googleapis.com/css2?family=Meera+Inimai&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

@font-face {
  font-family: Walsheim-Pro-Bold;
  src: url("/fonts/GT-Walsheim-Pro-Bold.woff");
}

@font-face {
  font-family: FreightText-W01-Book;
  src: url("/fonts/FreightText-W01-Book.woff2");
}

@font-face {
  font-family: SVN-Futura-Regular;
  src: url("/fonts/SVN-Futura-Regular.otf");
}

@font-face {
  font-family: Shorelines-Script;
  src: url("/fonts/LNTH-Shorelines-Script-Bold.ttf");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;  
  margin:  0px;
  padding:  0px;
}

:root{
  --color-main-first: #ed7842;
  --color-main-second: rgb(233, 30, 99);
  --color-main-third: #2f3938;
}

/* Desktop - 1 */
body {
  width: 100%;
  max-width: 1440px;
  height: 100vh;
  /* background: #340830; */
  margin: 0 auto;
  /*background: linear-gradient(243.24deg, rgba(87, 0, 140, 0.87) 16.64%, #8F0782 94.75%);*/
  /* background: linear-gradient(241.2deg, #093732 37.37%, #004a43 95.61%); */
  /* background: linear-gradient(244.23deg, #0A5247 54.39%, #78F1A9 97.16%); */
  background: linear-gradient(244.23deg, #2f3938 54.39%, #2f3938 97.16%);
  
}

main {
  width: 100%;
  max-width: 1440px;
  height: 100vh;
  /*background: linear-gradient(278deg, #210C1F 0%, rgba(97, 50, 92, 0) 100%);*/
  border-radius: 5px;
}

::selection {
  color: #fff;
  background-color: #ed7842;
}

.title {
  height: 100px;
  font-family: Walsheim-Pro-Bold;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  /* color: #fdfdfe; */
  margin-left: 348px;
  margin-top: -5px;
  
  background: linear-gradient(
65deg
, #e91e63, #ffc107);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* An exclusive JavaScipt story */
.subtitle {
  font-family: Shorelines-Script;
    font-size: 16.7px;
    color: #00bcd4;
    margin-left: 732.5px;
    margin-top: 15px;
}

.title-sub {
  color: #ed7842;
}

.question__cover {
    /* background: #e91e63; */
    background: #2f3938;    
    width: 357px;
    height: 140px;
    display: -moz-box;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    margin-left: 363px;
    margin-top: 29px;
    border: 5px solid var(--color-main-first);
    border-radius: 5px;
    outline: 5px solid var(--color-main-first);
    outline-offset: 5px;
}

.question__title {
  font-family: SVN-Futura-Regular;  
  font-size: 16px;
  line-height: auto;  
  color: #fdfdfe;
  word-wrap: break-word;
  padding: 10px;  
}

.answer__cover {
  width: 515px;
  height: 405px;
  /* border-radius: 5px; */
  /* background: rgb(60 16 56); */
  background: #2f3938;
  /* border-radius: 15px; */
  
  margin-top: -119px;
  margin-left: 724px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 4px solid var(--color-main-first);

}

.answer__cover:before {
  content: "";
  position: absolute;
  width: 515px;
  height: 405px;
  /* border-radius: 5px; */
  /* background: #1002021f; */
  /* border-radius: 15px; */
  /* margin-top: -272px; */
  /* margin-left: 724px; */
  opacity: 0.7;
  /* -webkit-transform: rotate(
1deg
); */
  -moz-transform: rotate(1deg);
  transform: rotate(
1deg
);
  z-index: -10;
  border: 4px solid var(--color-main-first);
  left: 10px;
  top: 10px;
}

.answer__title {
  font-family: SVN-Futura-Regular, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 22px;
  color: #ffffff;
  padding: 15px; 
}


.navigate__style{
        width: 100%;
    max-width: 263px;
       margin-left: 936px;
    margin-top: 23px;
}


.navigate__style > ul > li {    
    margin-left: 54px;
}


ul {
  display: flex;
  flex-direction: row;
  list-style-type: none; 
}


li {    
  font-family: SVN-Futura-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #f6f4f3;
  cursor: pointer;
  
}

li:hover {
  color: #fff;
}

a {
  list-style-type: none;
  text-decoration: none;  
  color: #f6f4f3;
}

li > a:hover {  
  color: var(--color-main-first);
}

.counting__cover {
  width: 220px;
  height: 220px;
  /*background: rgba(114, 52, 124, 0.17);*/
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* -webkit-box-shadow: 13px 4px 21px -10px rgb(255 163 255);
    -moz-box-shadow: 13px 4px 21px -10px rgb(255 163 255);
    box-shadow: 13px 4px 21px -10px rgb(255 163 255);*/

  /* background: rgba(72, 237, 128, 0.74); */
  /* background:#00FEAE; */
  background: #39434C;
  margin-left: 421px;
  margin-top: 56px;
}

.counting__circle{
    left: -187px;
    top: 128px;
}

.counting__content {
  font-family: SVN-Futura-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 85px;
  line-height: 101px;
  /*color: #ED7842;*/
  color: #fff;
}

.author {
  width: 180px;
  height: 18px;
  font-family: SVN-Futura-Regular;
  font-style: normal;
  font-weight: normal;

  font-size: 13px;
  line-height: 18px;
  color: #fdfdfe;
  margin-left: 1px;
  /* identical to box height */

  color: #fdfdfe;
}

.controller {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
  top: -101px;
  left: -167px;
}
/* 
i.bx.bxs-right-arrow-circle {
    font-size: 70px;    
    transition:  transform 0.25s;
    
}

i.bxs-left-arrow-circle {
    font-size: 70px;    
    transition:  transform 0.25s;
}

i.bx.bxs-right-arrow-circle:hover{
  cursor: pointer;
  transform: scale(1.2);
}

i.bxs-left-arrow-circle:hover{
  cursor: pointer;
  transform: scale(1.2);
} */

.controller__arrow-left {
  transition: transform 0.25s;
  transform: rotate(180deg);
  padding-left: 10px!important;
}

img.controller__arrow-left {
    overflow: visible!important;
}

.controller__arrow-right {
  padding-right: 10px!important;
  transition: transform 0.25s;
}

.controller__arrow-left:hover {
  cursor: pointer;
  transform: scale(1.1) rotate(180deg);
}

.controller__arrow-right:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#image__svg{
  position: relative;  
  top: -258px;
  z-index: -10;
}

code {
    /*color: #ff00fb;*/
    color: #00bcd4;
    /*font-family: SVN-Futura-Regular;*/
    font-family: 'Ubuntu Mono', monospace;
    font-size: 17.5px;      
}

strong {
    font-weight: normal;
    color: var(--color-main-first);
}



/*iPad*/
@media only screen and (max-width:  768px){
  body {    
    max-width: 320px;
  }


main {
  width: 100%;
  max-width: 320px;
  height: 100vh;
  /*background: linear-gradient(278deg, #210C1F 0%, rgba(97, 50, 92, 0) 100%);*/
  border-radius: 0px;
}

.title {
     height: 50px;
    font-size: 37px;
    margin-left: 13px;
    margin-top: -8px;
    margin-bottom: 12px;
    padding-left: 4px;
}

.subtitle {
     font-size: 11px;
    margin-left: 75px;
    margin-top: -15px;
    margin-bottom: 41px;
}

.navigate__style{
       width: 100%;
    max-width: 244px;
    margin-left: 40px;
    margin-top: 6px;    
    display: flex;
    justify-content: center;
}


.navigate__style > ul > li {    
    margin-left: 10px;
}

li{
  font-size: 13px;
}


.question__cover {
    width: 315px;
    height: 89px;
    margin-left: 8px;
    margin-top: -30px;
    border: 1px solid var(--color-main-first);
    border-radius: 5px;
    outline: 1px solid var(--color-main-first);
    outline-offset: -3px;   
}

.question__title{
  font-size: 14px;
}

#image__svg{
  display:  none;
}


.answer__cover {
    width: 315px;
    height: 229px;
    border-radius: 15px;
    margin-top: 8px;
    margin-left: 8px;
    border: 1px solid var(--color-main-first);
    border-radius: 5px;
    outline: 1px solid var(--color-main-first);
    outline-offset: -3px;

}

.answer__title {    
    font-size: 16px;
    padding: 12px;
}

.answer__cover:before {
  content: "";
  display:  none;
}


.counting__cover {
 width: 50px;
height: 50px;
margin-left: 135px;
margin-top: 4px;
}


.counting__content {
  font-size: 15px;

}


.controller {      
     left: 10px;
    margin-top: 124px;
    margin-left: 10px;
}
}


/*iphone 6,7,8 Plus*/
@media only screen and (max-width:  414px){
  body {    
    max-width: 414px;
  }


main {  
  max-width: 414px;
}

.title {
    height: 59px;
    font-size: 49px;
    margin-left: 13px;
    margin-top: -9px;
    margin-bottom: 18px;
    padding-left: 0px;
}

.subtitle {
     font-size: 14px;
    margin-left: 99px;
    margin-top: -18px;
    margin-bottom: 42px;
}

.navigate__style{
    width: 100%;
    max-width: 326px;
    margin-left: 40px;
    margin-top: 18px;
    display: -moz-box;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    margin-bottom: 14px;
}


.navigate__style > ul > li {    
    margin-left: 10px;
}

li{
  font-size: 13px;
}


.question__cover {
    width: 414px;
    height: 98px;
    margin-left: 5px;
    margin-top: -32px;
    border: 1px solid var(--color-main-first);
    border-radius: 5px;
    outline: 1px solid var(--color-main-first);
    outline-offset: -3px;  
}

.question__title{
  font-size: 14px;
}

#image__svg{
  display:  none;
}


.answer__cover {
    width: 414px;
    height: 259px;
    border-radius: 15px;
    margin-top: 8px;
    margin-left: 5px;

}

.answer__title {    
    font-size: 16px;
    padding: 12px;
}

.answer__cover:before {
  content: "";
  display:  none;
}


.counting__circle {
    left: 7px;
    top: 5px;
}

.c100{
  
    font-size: 68px;
}



.controller {      
     left: 10px;
    margin-top: 124px;
    margin-left: 30px;
}
}



/*iphone 6,7,8*/
@media only screen and (max-width:  375px){
  body {    
    max-width: 375px;
  }


main {  
  max-width: 375px;  
}

.title {
    height: 66px;
    font-size: 45px;
    margin-left: -6px;
    margin-top: 2px;
    margin-bottom: 12px;
    padding-left: 10px;
}

.subtitle {
     font-size: 15px;
    margin-left: 75px;
    margin-top: -15px;
    margin-bottom: 41px;
}

.navigate__style{
    width: 100%;
    max-width: 244px;
    margin-left: 56px;
    margin-top: 9px;
    display: -moz-box;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    margin-bottom: 11px;
}


.navigate__style > ul > li {    
    margin-left: 10px;
}

li{
  font-size: 13px;
}


.question__cover {
    width: 372px;
    height: 104px;
    margin-left: 8px;
    margin-top: -20px;  
}

.question__title{
  font-size: 14px;
}

#image__svg{
  display:  none;
}


.answer__cover {
    width: 372px;
    height: 229px;
    border-radius: 15px;
    margin-top: 8px;
    margin-left: 8px;
    border: 1px solid var(--color-main-first);
    border-radius: 5px;
    outline: 1px solid var(--color-main-first);
    outline-offset: -3px;


}

.answer__title {    
    font-size: 16px;
    padding: 12px;
}

.answer__cover:before {
  content: "";
  display:  none;
}


.counting__circle {    
    left: 5px;
    top: 5px;
}

.c100{
  
    font-size: 68px;
}



.controller {      
     left: 10px;
    margin-top: 124px;    
    margin-left: 35px;
}
}



@media only screen and (max-width:  320px){
  body {    
    max-width: 320px;
  }


main {
  width: 100%;
  max-width: 320px;
  height: 100vh;
  /*background: linear-gradient(278deg, #210C1F 0%, rgba(97, 50, 92, 0) 100%);*/
  border-radius: 0px;
}

.title {
     height: 50px;
    font-size: 37px;
    margin-left: 13px;
    margin-top: -8px;
    margin-bottom: 12px;
    padding-left: 4px;
}

.subtitle {
     font-size: 11px;
    margin-left: 75px;
    margin-top: -15px;
    margin-bottom: 41px;
}

.navigate__style{
    width: 100%;
    max-width: 244px;
    margin-left: 40px;
    margin-top: 9px;
    display: -moz-box;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    margin-bottom: 11px;
}


.navigate__style > ul > li {    
    margin-left: 10px;
}

li{
  font-size: 13px;
}

.counting__circle {
    left: 6px;
    top: 5px;
}

.c100{
  
    font-size: 68px;
}

.question__cover {
    width: 315px;
    height: 89px;
    margin-left: 8px;
    margin-top: -30px;
    border: 1px solid var(--color-main-first);
    border-radius: 5px;
    outline: 1px solid var(--color-main-first);
    outline-offset: -3px;   
}

.question__title{
  font-size: 14px;
}

#image__svg{
  display:  none;
}


.answer__cover {
    width: 315px;
    height: 229px;
    border-radius: 15px;
    margin-top: 8px;
    margin-left: 8px;
    border: 1px solid var(--color-main-first);
    border-radius: 5px;
    outline: 1px solid var(--color-main-first);
    outline-offset: -3px;

}

.answer__title {    
    font-size: 16px;
    padding: 12px;
}

.answer__cover:before {
  content: "";
  display:  none;
}


.counting__cover {
 width: 50px;
height: 50px;
margin-left: 135px;
margin-top: 4px;
}


.counting__content {
  font-size: 15px;

}


.controller {      
     left: 10px;
    margin-top: 124px;    
    margin-left: 29px;
}
}


